:root{
    --vermelho : red;
    --preto : black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
   background: var(--preto);
    color: white;
}

.netflix_logo{
    font-family: 'Arial black';
    color: red;
    font-size: 40px;
}

header .container{
    border: 1px solid rgb(32, 32, 32);
}

header .container{
    justify-content: left;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: black;
}

header nav a{
   color: grey; 
   text-decoration: none;
   font-family: 'Arial';
   margin-right: 2rem;
}

header nav a:hover{
 color: white;
}

/*parte do house of cards*/

.house_of_cards{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),url('/img/capa-house.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bttn{
    border: none;
    border-radius: 7px;
    background-color: rgba(0,0,0,.50);
    color: white;
    padding: 1rem;
    transition: all ease .3s;
}

.house_of_cards .sinopse{
margin-top: 10px ;
margin-bottom: 90px;
margin-left: 10px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.bttn:hover{
    color: black;
    background-color: white;
}

.sugest{
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 1rem;
    font-family: Arial, sans-serif;
}

/* carrosel*/

.box-filme{
    width: 100%;
    height: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}

.segundo{
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 1rem;
    font-family: Arial, sans-serif;
}

.tird{
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 1rem;
    font-family: Arial, sans-serif;
}

.alta{
        margin-top: 9px;
        margin-bottom: 9px;
        margin-left: 1rem;
        font-family: Arial, sans-serif;
    }

